<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anjilibey.inventori">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Controller.RegisterActivity"></activity>
        <activity android:name=".Controller.LihatBarang" />
        <activity android:name=".Controller.TambahBarang" />
        <activity android:name=".Controller.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Controller.LoginActivity" />
        <activity android:name=".Controller.MainActivity" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>